.box {
    width: 100%; /* Ajustar el ancho de la caja según tus necesidades */
    height: 500px; /* Ajustar la altura de la caja según tus necesidades */
    background-image: url(../img/bg.jpg);
    background-size: cover; /* Ajustar el tamaño de la imagen de fondo para cubrir toda la caja */
    background-position: center; /* Centrar la imagen de fondo */
    display: flex; /* Utilizar flexbox para centrar el contenido vertical y horizontalmente */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    text-align: center; /* Alinear el texto al centro */
    color: white; /* Color del texto */
    font-size: 24px; /* Tamaño de la fuente */
    font-family: Arial, sans-serif; /* Fuente del texto */
}
