body {
    background-image: url('bg.jpg'); /* Ruta de la imagen de fondo */
    background-color: #333; /* Cambiar al color de fondo deseado */
    background-repeat: no-repeat; /* Evita que la imagen de fondo se repita */
    background-attachment: fixed; /* Mantiene la imagen de fondo fija */
    background-size: cover; /* Cubre todo el fondo sin distorsionar la imagen */
    text-align: center;
    color: #fff; /* Cambiar al color de texto deseado */
    font-family: Arial, sans-serif;
}
h1 {
    color: #ff9900; /* Cambiar al color de texto deseado */
}
h2 {
    color: #ff9900; /* Cambiar al color de texto deseado */
    font-size: 16px; /* Tamaño de la fuente para la traducción */
}